

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*background-image: url("https://picsum.photos/2500/1667");
  background-repeat: no-repeat;
  background-size: 100%;*/
}


label {
  display: block;
}

.form {
  width: 400px;
  margin: 0 auto;
}

input[type="text"],
[type="password"],
[type="email"] {
  display: block;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  margin: 5px 0 10px 0;
}

input[type="button"],
button {
  background-color: rgb(39, 131, 212);
  padding: 10px;
  border: 0;
  min-width: 100px;
  border-radius: 5px;
  color: white;
}

nav {
  background-color: #eee;
}

nav ul {
  margin: 0;
}

nav ul li {
  display: inline-block;
  padding: 10px;
}

a {
  color: rgb(97, 28, 161);
  text-decoration: none;
}

.dashboard {
  width: 500px;
  margin: auto;
}

.errorMessage {
  background-color: #f2dede;
  color: #a94442;
  padding: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  gap: 40px;
  padding: 40px;
  justify-content: center;
}